// フォント
$font-family-default: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
$font-family-english: 'Noto Sans JP', sans-serif;

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
body {
    background-color: #F3F3F3;
    max-width: $layout-width-canvas;
}

.util-ttl {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
      font-weight: 600;
  
      @include mq('sp-up') {
          font-size: 36px;
      }
  }
  

.main {
    background-image: url(../img/circle.png);
    background-position: top -100px right -120px;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    
    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 160px 20px;
    }

    &-copy {
        text-align: left;
        h2 {
            font-size: 32px;
            line-height: 1.8;
            margin-bottom: 40px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            line-height: 1.8;
            margin-bottom: 40px;
            font-weight: bold;
        }
    }

    &-img {
        position: absolute;
        right: 15%;
        top: 20%;
        z-index: 1000;
    }
}

.feature {
    &-ttl {
        margin-top: 40px;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        span {
            font-size: 16px;
            color: #3BA6C9;
            display: block;
            margin-top: 20px;
        }
    }
    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    &-heading {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 64px;

        @include mq('sp-down') {
            margin-top: 32px;
        }
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 93px;

        @include mq('sp-down') {
            display: block;
            margin-bottom: 40px;
            margin: 0 auto;

            figure {
                img {
                    width: 100%;
                    height: auto;
                    padding: 8px;
                }
            }
        }
        h3 {
            font-size: 24px;
            line-height: 1.8;
            font-weight: bold;
            margin-bottom: 54px;
            padding: 4px;

            @include mq('sp-down') {
                margin-bottom: 32px;
                font-size: 1.8rem;
                text-align: center;
            }
        }
        p {
            line-height: 1.5;
            font-weight: bold;
            padding: 4px;

            @include mq('sp-down') {
                margin-bottom: 22px;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}

.price {
    background-color: #EEFBFB;
    padding: 64px 20px 128px;
    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    &-ttl {
        margin-top: 40px;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        span {
            font-size: 16px;
            color: #3BA6C9;
            display: block;
            margin-top: 20px;
        }
    }
    table {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        background-color: #fff;
        border-collapse: collapse;

        @include mq('sp-down') {
            display: block;
            width: auto;
        }

        th {
            width: 30%;
            padding: 30px;
            border: 1px solid #f0ededed;
        }
        td {
            width: 70%;
            padding: 30px;
            border: 1px solid #f0ededed;
            font-weight: bold;
        }
    }
}

.qa {
    padding: 64px 20px 86px;
    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    &-ttl {
        margin-top: 40px;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        span {
            font-size: 16px;
            color: #3BA6C9;
            display: block;
            margin-top: 20px;
        }
    }
    &_items {
        margin: 80px auto 0;
        width: 900px;
        max-width: 100%;
    }
    
    .accordion__head {
        margin: 0;
        background: #fff;
        color: #444444;
        padding: 21px 0;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        font-weight: 700;
        border: 1px solid #e5e5e5;
    }
    
    .accordion__body {
        margin: 0;
        background: #F2F2F2;
        border: 1px solid #e5e5e5;
        font-weight: 700;
    }
    
    .accordion__body-in {
        padding: 25px 0;
        text-align: center;
        line-height: (24 / 16);
        color: #444444;
        position: relative;
        font-size: 14px;
    }
}

    .blog {
        background-color: #EEFBFB;
        padding: 64px 20px 100px;
        &-inner {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 40px;
            span {
                font-size: 16px;
                color: #3BA6C9;
                display: block;
                margin-top: 20px;
            }
        }
        &-list {
            width:100%;
            margin:0;
            padding:0;
            display:-webkit-box;
            display:-moz-box;
            display:-ms-box;
            display:-webkit-flexbox;
            display:-moz-flexbox;
            display:-ms-flexbox;
            display:-webkit-flex;
            display:-moz-flex;
            display:-ms-flex;
            display:flex;
            -webkit-box-lines:multiple;
            -moz-box-lines:multiple;
            -webkit-flex-wrap:wrap;
            -moz-flex-wrap:wrap;
            -ms-flex-wrap:wrap;
            flex-wrap:wrap;
            justify-content: space-between;

            @include mq('sp-down') {
                display: block;
            }
        }
        &-item {
            width: calc(33.33333333% - 24px * 2 / 3);
            background: #fff;
            margin-bottom: 0;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);

            @include mq('sp-down') {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
         img {
            width:100%;
            margin:0;
            padding:0;
        }
        .card-body {
            -webkit-box-flex: 1;
            font-size: 1.125em;
            font-weight: bold;
            line-height: 1.4;
            padding: 15px 30px 15px 15px;
            flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
        }
        .card-time {
            line-height: 1.6;
            font-size: 16px;
            font-weight: bold;
            text-align: right;
            padding: 0 30px 10px 30px;
        }
    }

    .results {
        margin: 58px 0 0 0;
        max-width: calc(50vw + 600px);
          padding: 40px 0 40px 16px;
      
          @include mq('sp-up') {
              margin: 0 0 0 0;
              padding: 58px 0 60px;
          }
      
          @include mq('sp-down') {
              padding-top: 36px;
              margin-top: 60px;
          }
      
        .util-ttl {
              color: #333;
              text-align: center;
              span {
                font-size: 16px;
                color: #3BA6C9;
                display: block;
                margin-top: 20px;
            }
      
              @include mq('sp-down') {
                  text-align: center;
                  padding-right: 16px;
              }
        }
      }
      
      .results-container {
          margin-top: 36px;
      
          @include mq('sp-up') {
              margin-top: 54px;
          }
      }
      
      .results-pagination {
          position: static !important;
      
          @include mq('sp-up') {
              margin: 44px 0 0 -5px;
              text-align: center;
          }
      
          @include mq('sp-down') {
              margin-top: 30px;
          }
      
        .swiper-pagination-bullet {
          background: #fff;
          height: 12px;
          margin: 0 10px !important;
          opacity: 1;
          position: relative;
          width: 12px;
      
          &:focus {
            outline: none;
          }
      
          &.swiper-pagination-bullet-active:after {
            border: solid 1px #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
          }
        }
      }
      
      .results-itemLink {
        background: #fff;
        color: #3e3e3e;
        display: block;
        border-radius: 3px;
      
          @include mq('sp-up') {
              transition: opacity .2s;
      
              &:hover {
                  opacity: .7;
              }
          }
      }
      
      .results-itemLinkInner {
        padding: 12px 16px 20px;
      
          @include mq('sp-down') {
              padding: 12px 12px 8px;
          }
      }
      
      .results-itemFig {
          img {
              width: 100%;
          }
      }
      
      .results-itemTtl {
        font-size: .75rem;
        font-weight: 700;
        line-height: 1.8;
      
          @include mq('sp-down') {
              font-size: 1.4rem;
          }
      }
      
      .results-itemTxt {
        font-size: .5rem;
        line-height: 1.5;
        margin-top: 22px;
        font-weight: bold;
      
          @include mq('sp-down') {
              font-size: 1.2rem;
          }
      }
    
    

    .contact {
        background-image:linear-gradient(to right, #05A5FA, #63FBD7);
        padding: 44px 230px 70px;
        
        @include mq('sp-down') {
            padding: 20px;
        }
        &-inner {
            max-width: 900px;
        }
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 40px;
            color: #fff;
            span {
                font-size: 16px;
                color: #fff;
                display: block;
                margin-top: 20px;
            }
        }
        &-sub-ttl {
            color: #fff;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 44px;
        }
        .form-inner {
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        }
        .form-list {
            text-align: left;
            padding: 39px 63px 0px;

            @include mq('sp-down') {
                display: block;
            }
        }
        
        .form-item {
            margin-bottom: 25px;
        }
        
        .form-item:last-of-type {
            margin-bottom: 0;
        }
        
        .form-label {
            display: block;
            margin-bottom: 42px;
            font-weight: bold;
            span {
                color: #fff;
                background-color: #0C449B;
                padding: 8px 16px;
                border-radius: 10px;
                margin-left: 22px;
            }
        }
        
        input,textarea {
            resize: none;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            border: 1px solid #e5e5e5;
            background-color: #eefbfb;
            box-sizing: border-box;
            border-radius: 3px;
        }
        
        .input-text {
            padding: 0;
            line-height: 43px;
            width: 500px;

            @include mq('sp-down') {
                width: 100%;
            }
        }
        
        textarea {
            height: 170px;
            padding: 0 8px;
            line-height: 30px;
            width: 100%;
        }
        .checkbox-item {
            margin-right: 20px;
            text-align: center;
            align-items: center;
            font-weight: bold;
            padding: 32px 0 33px 0;
        }
        
        .checkbox label,
        .checkbox {
            cursor: pointer;
        }
        
        .checkbox {
            border: solid 1px #282F35;
            background-color: #fff;
            padding: 10px;
            margin-right: 10px;
        }
        
        .checkbox:checked {
            background-color: #333;
        }
        .submit-btn {
            text-align: center;
            padding-bottom: 35px;
        }
    }