// フォント
$font-family-default: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
$font-family-english: "Montserrat", sans-serif;

// 色
$color-main: #ffaa3b;
$color-active: #f18900;
$color-text: #3e3e3e;
$color-background: #f3f3f3;
$color-disable: #b2b2b2;

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  
  html {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  li, dd {
    list-style-type: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
  }
  
  q, blockquote {
    quotes: none;
  }
  
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  
  img {
    border: none;
    vertical-align: bottom;
  }
  
  /* 基本設定
  ===================================== */
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background: $color-background;
    color: $color-text;
    font-family: $font-family-default;
      line-height: 1.45;
      font-weight: 500;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  .util-ttl {
    font-family: $font-family-english;
    font-size: 3rem;
      font-weight: 600;
  
      @include mq('sp-up') {
          font-size: 3.6rem;
      }
  }
  
  .util-linkBox {
      @include mq('sp-down') {
          text-align: center;
      }
  }
  
  .util-link {
    border: solid 1px #3e3e3e;
    color: #3e3e3e;
    display: block;
    font-family: $font-family-english;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: .8em 0;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
  
    &.mod-light {
      border-color: #fff;
      color: #fff;
      }
  
      @include mq('sp-up') {
          &.mod-light:hover {
        background: #fff;
        color: #3e3e3e;
      }
  
      &:hover {
        background: #3e3e3e;
        color: #fff;
      }
      }
  
      @include mq('sp-down') {
          font-size: 1.8rem;
          margin: 0 auto;
          max-width: 268px;
          padding-top: 13px;
          padding-bottom: 13px;
      }
  }
  

.header {
    background: rgba(255, 255, 255, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
      z-index: 1000;
  
      .add-scrolled & {
          background: rgba(255, 255, 255, 0.6);
      }
  
      @include mq('sp-up') {
          height: 80px;
          text-align: center;
          transition: .2s;
          z-index: 1000;
      }
  
      @include mq('sp-down') {
          background: rgba(255, 255, 255, 0.6);
      height: 68px;
      }
  }
  
  .header-ttl {
  
      @include mq('sp-up') {
          display: none;
      }
  
      @include mq('sp-down') {
          margin: 20px 0 0 16px;
          transition: opacity 0.3s;
          font-size: 23px;
          font-weight: 700;
          font-family: $font-family-english;
      }
  
      .add-active & {
          @include mq('sp-down') {
              opacity: 0;
          }
      }
  }
  
  .header-burger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
  
      @include mq('sp-down') {
          display: block;
      height: 26px;
      left: -40px;
      position: absolute;
      top: 20px;
      transition: right 0.3s linear;
      width: 26px;
      }
  }
  
  .header-burgerInline {
      @include mq('sp-down') {
          background-color: #3e3e3e;
          border-radius: 4px;
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          transition: 0.3s;
          width: 26px;
          z-index: 1;
  
          &:nth-child(1) {
              top: 2px;
          }
  
          &:nth-child(2) {
              top: 10px;
          }
  
          &:nth-child(3) {
              top: 18px;
          }
      }
  
      @include mq('sp-down') {
          .add-active & {
              background-color: #fff;
  
              &:nth-child(1) {
                  top: 10px;
                  transform: rotate(-45deg);
              }
  
              &:nth-child(2) {
                  left: 100%;
                  opacity: 0;
              }
  
              &:nth-child(3) {
                  top: 10px;
                  transform: rotate(45deg);
              }
          }
      }
  }
  
  .header-overlay {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: .3s;
    visibility: hidden;
      width: 100%;
  
      .add-active & {
          opacity: 1;
          visibility: visible;
      }
  }
  
  .header-nav {
    align-items: center;
    display: flex;
      justify-content: center;
  
      @include mq('sp-up') {
          height: 100%;
      }
  
      @include mq('sp-down') {
          background: #fff;
      bottom: 0;
      position: fixed;
      right: -300px;
      text-align: center;
      top: 0;
      transition: right 0.3s linear;
      width: 300px;
      z-index: 1;
      }
  
      @include mq('sp-down') {
          .add-active & {
              right: 0;
          }
      }
  }
  
  .header-navList {
  
      @include mq('sp-up') {
          display: flex;
      }
  }
  
  .header-navItem {
      + .header-navItem {
          @include mq('sp-up') {
              margin-left: 40px;
          }
  
          @include mq('sp-down') {
              margin-top: 20px;
          }
      }
  }
  
  .header-navLink {
    color: #3e3e3e;
    font-family: $font-family-english;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -.025em;
      position: relative;
  
      @include mq('sp-up') {
          padding: 0.5em 0;
  
          &:after {
              background: #3e3e3e;
              bottom: 0;
              content: '';
              height: 1px;
              left: 0;
              position: absolute;
              transform: scaleX(0);
              transition: transform .2s;
              width: 100%;
          }
  
          &:hover:after {
              transform: scaleX(1);
          }
      }
  
      @include mq('sp-down') {
          font-size: 1.8rem;
      }
  }
  

// .header {
//     position: fixed;
//     top: 0;
//     z-index: 9999;
//     width: 100%;
//     height: 94px;
//     box-shadow: 0 3px 6px rgba(0,0,0,0.16);
//     background: #fff;

//     @include mq('sp-down') {
//         width: 100%;
//         height: auto;
//     }

//     @include mq('sp-up') {
//         width: 100%;
//         height: auto;
//     }
//     &-inner {
//         max-width: 100%;
//         margin-right: auto;
//         margin-left: auto;
//         padding: 0 20px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         height: 100%;
//     }
//     &-logo {
//         display: flex;
//         align-items: center;
//         img {
//             width: 55px;
//             height: 55px;
//         }
//     }
//     &-ttl {
//         font-size: 24px;
//         font-weight: bold;
//         margin-left: 16px;
//     }
//     &-nav {
//         ul {
//             display: flex;
//             justify-content: space-between;
//             margin-left: 20px;
//         }
//         li {
//             text-align: center;
//             margin-right: 45px;
//             font-weight: bold;
//             a {
//                 color: #333;
//             }
//         }

//         @include mq('sp-down') {
//             display: none;
//         }
//     }
// }

