.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-inner {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 55px;
  height: 55px;
}

.header-ttl {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
}

.header-nav li {
  text-align: center;
  margin-right: 45px;
}
