@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
  ===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f3f3f3;
  color: #3e3e3e;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  line-height: 1.45;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.util-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .util-ttl {
    font-size: 3.6rem;
  }
}

@media (max-width: 767px) {
  .util-linkBox {
    text-align: center;
  }
}

.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.util-link.mod-light {
  border-color: #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link.mod-light:hover {
    background: #fff;
    color: #3e3e3e;
  }
  .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .util-link {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 268px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: auto;
  }
}

.header-inner {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .header-inner {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .header-inner {
    /*OPEN時の動き*/
    /*OPEN時の動き*/
  }
  .header-inner .drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 18px;
  }
  .header-inner .navbar_toggle {
    z-index: 9999;
  }
  .header-inner .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #5c6b80;
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
  .header-inner .navbar_toggle_icon:nth-child(1) {
    top: 0;
  }
  .header-inner .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }
  .header-inner .navbar_toggle_icon:nth-child(3) {
    top: 0;
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-inner .menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: ease .5s;
    transition: ease .5s;
    z-index: 1000;
  }
  .header-inner .menu ul li {
    padding: 2em;
    border-bottom: 1px solid #CCC;
  }
  .header-inner .menu.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.header-inner .menu {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 55px;
  height: 55px;
}

@media (min-width: 768px) {
  .header-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .header-ttl {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 16px;
  }
}

.header-nav ul {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}

.header-nav li {
  text-align: center;
  margin-right: 45px;
  font-weight: bold;
}

.header-nav li a {
  color: #333;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-btn {
    display: none;
  }
}
