@charset "UTF-8";
.footer {
  background-color: #F8F8F8;
  text-align: center;
}

.footer-inner {
  margin-left: auto;
  margin-right: auto;
}

.footer-ttl {
  font-weight: bold;
  font-size: 1.5em;
  padding: 50px 0 30px;
}

.footer-list {
  padding-bottom: 60px;
}

.footer-item {
  padding-right: 20px;
  font-weight: bold;
  display: inline-block;
}

.footer-item:first-child {
  margin-left: 70px;
}

.footer .copy {
  padding-bottom: 50px;
}

body {
  background-color: #F3F3F3;
  max-width: 1280px;
}

.util-ttl {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .util-ttl {
    font-size: 36px;
  }
}

.main {
  background-image: url(../img/circle.png);
  background-position: top -100px right -120px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 160px 20px;
}

.main-copy {
  text-align: left;
}

.main-copy h2 {
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

.main-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

.main-img {
  position: absolute;
  right: 15%;
  top: 20%;
  z-index: 1000;
}

@media (max-width: 767px) {
  .main-img {
    width: 100%;
  }
}

.feature-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.feature-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.feature-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.feature-heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .feature-heading {
    margin-top: 32px;
  }
}

.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 93px;
}

@media (max-width: 767px) {
  .feature-box {
    display: block;
    margin-bottom: 40px;
    margin: 0 auto;
  }
  .feature-box figure img {
    width: 100%;
    height: auto;
    padding: 8px;
  }
}

.feature-box h3 {
  font-size: 24px;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 54px;
  padding: 4px;
}

@media (max-width: 767px) {
  .feature-box h3 {
    margin-bottom: 32px;
    font-size: 1.8rem;
    text-align: center;
  }
}

.feature-box p {
  line-height: 1.5;
  font-weight: bold;
  padding: 4px;
}

@media (max-width: 767px) {
  .feature-box p {
    margin-bottom: 22px;
    font-size: 1.2rem;
    text-align: center;
  }
}

.price {
  background-color: #EEFBFB;
  padding: 64px 20px 128px;
}

.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.price-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.price-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.price table {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-collapse: collapse;
}

@media (max-width: 767px) {
  .price table {
    display: block;
    width: auto;
  }
}

.price table th {
  width: 30%;
  padding: 30px;
  border: 1px solid #f0ededed;
}

.price table td {
  width: 70%;
  padding: 30px;
  border: 1px solid #f0ededed;
  font-weight: bold;
}

.qa {
  padding: 64px 20px 86px;
}

.qa-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.qa-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.qa-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.qa_items {
  margin: 80px auto 0;
  width: 900px;
  max-width: 100%;
}

.qa .accordion__head {
  margin: 0;
  background: #fff;
  color: #444444;
  padding: 21px 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid #e5e5e5;
}

.qa .accordion__body {
  margin: 0;
  background: #F2F2F2;
  border: 1px solid #e5e5e5;
  font-weight: 700;
}

.qa .accordion__body:nth-of-type(n+1) {
  display: none;
}

.qa .accordion__body-in {
  padding: 25px 0;
  text-align: center;
  line-height: 1.5;
  color: #444444;
  position: relative;
  font-size: 14px;
}

.blog {
  background-color: #EEFBFB;
  padding: 64px 20px 100px;
}

.blog-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.blog-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.blog-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.blog-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .blog-list {
    display: block;
  }
}

.blog-item {
  width: calc(33.33333333% - 24px * 2 / 3);
  background: #fff;
  margin-bottom: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .blog-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.blog img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.blog .card-body {
  -webkit-box-flex: 1;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.4;
  padding: 15px 30px 15px 15px;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.blog .card-time {
  line-height: 1.6;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  padding: 0 30px 10px 30px;
}

.results {
  margin: 58px 0 0 0;
  max-width: calc(50vw + 600px);
  padding: 40px 0 40px 16px;
}

@media (min-width: 768px) {
  .results {
    margin: 0 0 0 0;
    padding: 58px 0 60px;
  }
}

@media (max-width: 767px) {
  .results {
    padding-top: 36px;
    margin-top: 60px;
  }
}

.results .util-ttl {
  color: #333;
  text-align: center;
}

.results .util-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .results .util-ttl {
    text-align: center;
    padding-right: 16px;
  }
}

.results-container {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .results-container {
    margin-top: 54px;
  }
}

.results-pagination {
  position: static !important;
}

@media (min-width: 768px) {
  .results-pagination {
    margin: 44px 0 0 -5px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .results-pagination {
    margin-top: 30px;
  }
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 12px;
}

.results-pagination .swiper-pagination-bullet:focus {
  outline: none;
}

.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}

.results-itemLink {
  background: #fff;
  color: #3e3e3e;
  display: block;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .results-itemLink {
    transition: opacity .2s;
  }
  .results-itemLink:hover {
    opacity: .7;
  }
}

.results-itemLinkInner {
  padding: 12px 16px 20px;
}

@media (max-width: 767px) {
  .results-itemLinkInner {
    padding: 12px 12px 8px;
  }
}

.results-itemFig img {
  width: 100%;
}

.results-itemTtl {
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .results-itemTtl {
    font-size: 1.4rem;
  }
}

.results-itemTxt {
  font-size: .5rem;
  line-height: 1.5;
  margin-top: 22px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .results-itemTxt {
    font-size: 1.2rem;
  }
}

.contact {
  background-image: linear-gradient(to right, #05A5FA, #63FBD7);
}

@media (min-width: 768px) {
  .contact {
    padding: 0 4%;
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .contact {
    padding: 20px;
  }
}

.contact-ttl {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}

.contact-ttl span {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-top: 20px;
}

.contact-sub-ttl {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 44px;
}

.contact .form-inner {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  max-width: 900px;
  margin: 0 auto;
}

.contact .form-list {
  text-align: left;
  padding: 39px 63px 0px;
}

@media (max-width: 767px) {
  .contact .form-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .contact .form-list {
    display: block;
  }
}

.contact .form-item {
  margin-bottom: 25px;
}

.contact .form-item:last-of-type {
  margin-bottom: 0;
}

.contact .form-label {
  display: block;
  margin-bottom: 42px;
  font-weight: bold;
}

.contact .form-label span {
  color: #fff;
  background-color: #0C449B;
  padding: 8px 16px;
  border-radius: 10px;
  margin-left: 22px;
}

.contact input, .contact textarea {
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #e5e5e5;
  background-color: #eefbfb;
  box-sizing: border-box;
  border-radius: 3px;
}

.contact .input-text {
  padding: 0;
  line-height: 43px;
  width: 500px;
}

@media (max-width: 767px) {
  .contact .input-text {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .contact .input-text {
    width: 100%;
  }
}

.contact textarea {
  height: 170px;
  padding: 0 8px;
  line-height: 30px;
  width: 100%;
}

.contact .checkbox-item {
  margin-right: 20px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding: 32px 0 33px 0;
}

.contact .checkbox label,
.contact .checkbox {
  cursor: pointer;
}

.contact .checkbox {
  border: solid 1px #282F35;
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
}

.contact .checkbox:checked {
  background-color: #333;
}

.contact .submit-btn {
  text-align: center;
  padding-bottom: 35px;
}

/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
  ===================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f3f3f3;
  color: #3e3e3e;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  line-height: 1.45;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.util-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .util-ttl {
    font-size: 3.6rem;
  }
}

@media (max-width: 767px) {
  .util-linkBox {
    text-align: center;
  }
}

.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  transition: background-color .2s, color .2s;
}

.util-link.mod-light {
  border-color: #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link.mod-light:hover {
    background: #fff;
    color: #3e3e3e;
  }
  .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .util-link {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 268px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: auto;
  }
}

.header-inner {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .header-inner {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .header-inner {
    /*OPEN時の動き*/
    /*OPEN時の動き*/
  }
  .header-inner .drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 18px;
  }
  .header-inner .navbar_toggle {
    z-index: 9999;
  }
  .header-inner .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #5c6b80;
    transition: ease .5s;
  }
  .header-inner .navbar_toggle_icon:nth-child(1) {
    top: 0;
  }
  .header-inner .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }
  .header-inner .navbar_toggle_icon:nth-child(3) {
    top: 0;
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    transform: translateY(-50%);
    opacity: 0;
  }
  .header-inner .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg);
  }
  .header-inner .menu {
    transform: translateX(-100%);
    transition: ease .5s;
    z-index: 1000;
  }
  .header-inner .menu ul li {
    padding: 2em;
    border-bottom: 1px solid #CCC;
  }
  .header-inner .menu.open {
    transform: translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.header-inner .menu {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 55px;
  height: 55px;
}

@media (min-width: 768px) {
  .header-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .header-ttl {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 16px;
  }
}

.header-nav ul {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}

.header-nav li {
  text-align: center;
  margin-right: 45px;
  font-weight: bold;
}

.header-nav li a {
  color: #333;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

.contact-btn {
  display: inline-block;
  width: 155px;
  max-width: 100%;
  height: 37px;
  background-image: linear-gradient(90deg, #fa41cc 0%, #6020b0 100%);
  border-radius: 10px;
  color: #fff;
  line-height: 37px;
  text-align: center;
  font-weight: bold;
  font-size: 0.875em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=style.css.map */